openapi: 3.1.0

info:
  title: A-health Platform API
  version: 1.0.0-phase1
  summary: Contract for Phase 0 (Identity) and Phase 1 (Core Consultation).
  description: |
    Authoritative contract for the A-health platform. Frontend and backend build
    against this document in parallel; it is the single source of truth for
    request/response shapes.

    ## Conventions

    - REST over HTTPS. JSON only. Base path `/api/v1`.
    - Field naming: `snake_case` everywhere, no exceptions.
    - All timestamps are RFC 3339 / ISO 8601 in UTC with a `Z` suffix.
    - All identifiers are UUID v4 strings.
    - Every mutable resource carries `version` (integer) and `updated_at`.
      Clients send `base_version` when writing to detect conflicts.

    ## Authentication

    Bearer JWT. Access token TTL 15 minutes, refresh token TTL 30 days and
    rotated on every use. RBAC is enforced at the gateway AND re-validated in
    the service layer — never rely on the client hiding a control.

    ## State transitions

    Clinical state changes are expressed as action sub-resources
    (`POST /consultations/{id}/accept`), never as a `PATCH` on a status field.
    This pattern is applied uniformly across every resource so there is one rule
    to remember. Each action has its own permission check, its own audit entry,
    and its own set of legal source states.

    ## Idempotency

    Every POST that creates or transitions clinical state requires an
    `Idempotency-Key` header. The key is generated on the client, before the
    first send attempt, and reused across retries. The server stores the first
    response against the key for 24 hours and replays it on repeat. Without
    this, offline sync produces duplicate clinical records.

    ## Pagination

    Two modes, chosen by volatility:

    - Cursor (`cursor` + `limit`) for lists that change while being read —
      the clinician queue, message threads, sync changes.
    - Page (`page` + `page_size`) for stable lists — dependants, own history.

    ## Realtime

    WebSocket at `wss://{host}/api/v1/realtime`, authenticated with a
    short-lived ticket from `POST /realtime/token` (the browser WebSocket API
    cannot set an Authorization header). Server-pushed events:
    `consultation.assigned`, `consultation.escalated`, `consultation.message`,
    `consultation.completed`, `checkin.deviation`. Every event carries
    `entity`, `id`, `version` so the client can reconcile against local state.

    ## Care threads

    The unit of the system is the care thread, not the visit. A thread opens on
    the patient's first request for a given problem and stays open until
    recovery criteria are met. Consultations, notes, prescriptions, follow-up
    cycles and check-ins all attach to a thread. A deviation detected weeks
    after discharge reopens consultation *within the same thread*, so the
    receiving clinician sees the whole history rather than an isolated case.

    ## Two ways in

    A consultation is reached by one of two routes, and both converge on the
    same `ConsultationRequest`:

    - **On demand.** `POST /consultations` — the request enters triage, gets an
      SLA deadline, and is routed to whichever verified clinician ranks highest.
      This is the path for someone who is unwell now.
    - **Scheduled.** `POST /appointments` against a slot the clinician has
      published, then `POST /appointments/{id}/start` at the appointed time,
      which opens the consultation with the clinician already assigned. This is
      the path for chronic review, antenatal care, and anything a patient plans.

    Everything downstream — queue, consultation, note, prescription, follow-up —
    is identical regardless of route.

    ## Messaging is thread-scoped, not consultation-scoped

    Messages attach to the care thread. A consultation closing does not end the
    conversation: the promise is follow-up until recovery, so a patient must be
    able to message the clinician on day nine after a day-one discharge without
    opening a new case. `consultation_id` on a message is an optional link
    recording which consultation was open at the time, if any.

  contact:
    name: A-health Engineering
    email: architecture@a-health.org
  license:
    identifier: LicenseRef-A-health-Proprietary
    name: Proprietary — internal use only

servers:
  - url: https://api.a-health.org/api/v1
    description: Production
  - url: https://staging-api.a-health.org/api/v1
    description: Staging
  - url: http://localhost:8080/api/v1
    description: Local development

tags:
  - name: auth
    description: Registration, OTP, login, token lifecycle. Phase 0.
  - name: users
    description: Own profile and dependants. Phase 0.
  - name: audit
    description: Authorized internal audit ledger and patient-owned transparency views.
  - name: clinicians
    description: Verification, availability, load. Phase 0.
  - name: care-threads
    description: The continuing unit of care. Phase 1.
  - name: appointments
    description: Scheduled bookings against a clinician's published slots. Phase 1.
  - name: consultations
    description: Consultation request lifecycle. Phase 1.
  - name: queue
    description: Clinician live queue and patient-facing queue position. Phase 1.
  - name: messages
    description: Patient/clinician conversation, thread-scoped. Phase 1.
  - name: gateway
    description: USSD and SMS aggregator webhooks. Internal. Phase 2.
  - name: follow-up
    description: Follow-up cycles, check-ins, deviation detection. Phase 3.
  - name: medications
    description: Prescriptions, dose schedule, adherence confirmation. Phase 3.
  - name: ai
    description: Assistant, triage support, transcription. Advisory only. Phase 5.
  - name: emergency
    description: Emergency requests, transport dispatch, live tracking. Phase 4.
  - name: devices
    description: Wearables and vehicle sensors. Phase 6.
  - name: prevention
    description: Risk scoring, screening, vaccination. Phase 5.
  - name: pharmacy
    description: Pharmacy directory, availability search, dispensing handoff. Phase 4.
  - name: diagnostics
    description: Laboratory, imaging and pathology orders and results. Phase 4.
  - name: network
    description: Professional communities, case discussion, second opinions. Phase 5.
  - name: education
    description: Multilingual health education content. Phase 3.
  - name: families
    description: Family groups and assigned family doctors. Phase 5.
  - name: research
    description: De-identified datasets for approved studies. Phase 6.
  - name: surveillance
    description: Aggregated disease trends by geography. Phase 6.
  - name: payment
    description: Payment intents for consultations and pharmacy purchases — mobile money, card, cash. Phase 4.
  - name: insurance
    description: Coverage checks and claims. Phase 6.
  - name: quality
    description: Ratings and incident reporting. Phase 5.
  - name: facilities
    description: Facility directory, departments, live queue. Phase 4.
  - name: sync
    description: Offline reconciliation. Cross-cutting.
  - name: system
    description: Health checks and realtime tickets.

security:
  - bearerAuth: []

paths:

  # ----------------------------------------------------------------------
  # Phase 0 — Identity & Access
  # ----------------------------------------------------------------------

  /auth/register/patient:
    post:
      tags: [auth]
      summary: Register a patient and trigger an OTP
      description: |
        Phone number is the primary identifier. No password is set for patient
        accounts — authentication is OTP only. Returns 202 because the account
        is not usable until the OTP is verified.

        Registering an already-registered number returns 202 as well, with an
        OTP sent, so the endpoint cannot be used to enumerate which numbers
        exist on the platform.
      operationId: registerPatient
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number, preferred_language]
              properties:
                phone_number:
                  $ref: '#/components/schemas/PhoneNumber'
                full_name:
                  type: string
                  maxLength: 150
                preferred_language:
                  $ref: '#/components/schemas/LanguageCode'
                channel:
                  $ref: '#/components/schemas/Channel'
      responses:
        '202':
          description: OTP dispatched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpChallenge'
        '400': { $ref: '#/components/responses/BadRequest' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/register/clinician:
    post:
      tags: [auth]
      summary: Register a clinician pending verification
      description: |
        Creates an account with `status = pending_verification`. The clinician
        cannot accept consultations, and no consultation note can be signed by
        them, until an admin approves the licence via
        `POST /clinicians/{clinician_id}/verification`.

        `verification_document_keys` are object-storage keys obtained from a
        prior upload; raw files are never posted to this endpoint.
      operationId: registerClinician
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                [phone_number, full_name, email, license_number, specialty, preferred_language]
              properties:
                phone_number:
                  $ref: '#/components/schemas/PhoneNumber'
                full_name:
                  type: string
                  maxLength: 150
                email:
                  type: string
                  format: email
                license_number:
                  type: string
                  maxLength: 50
                specialty:
                  $ref: '#/components/schemas/Specialty'
                languages_spoken:
                  type: array
                  items:
                    $ref: '#/components/schemas/LanguageCode'
                preferred_language:
                  $ref: '#/components/schemas/LanguageCode'
                facility_id:
                  type: string
                  format: uuid
                  description: Optional. Reference only — does not grant facility privileges.
                verification_document_keys:
                  type: array
                  items: { type: string }
      responses:
        '202':
          description: Registered, verification pending, OTP dispatched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpChallenge'
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/otp/request:
    post:
      tags: [auth]
      summary: Request an OTP for an existing account
      description: |
        Rate limited per phone number and per source IP. Always returns 202
        whether or not the number is registered, to prevent enumeration.
      operationId: requestOtp
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number]
              properties:
                phone_number:
                  $ref: '#/components/schemas/PhoneNumber'
                channel:
                  $ref: '#/components/schemas/Channel'
      responses:
        '202':
          description: OTP dispatched if the account exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtpChallenge'
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/otp/verify:
    post:
      tags: [auth]
      summary: Verify an OTP and issue tokens
      description: |
        Six digits, five-minute expiry, maximum five attempts per challenge.
        Exceeding the attempt limit invalidates the challenge entirely — a new
        one must be requested.
      operationId: verifyOtp
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challenge_id, code]
              properties:
                challenge_id:
                  type: string
                  format: uuid
                code:
                  type: string
                  pattern: '^[0-9]{6}$'
                device_id:
                  type: string
                  description: Stable client-generated device identifier, for session management.
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/login:
    post:
      tags: [auth]
      summary: Password login for clinician and admin roles
      description: |
        Patients never use this endpoint. If the account has MFA enabled the
        response is an MFA challenge rather than a token pair.
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                device_id:
                  type: string
      responses:
        '200':
          description: Authenticated, or MFA challenge issued
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TokenPair'
                  - $ref: '#/components/schemas/OtpChallenge'
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/token/refresh:
    post:
      tags: [auth]
      summary: Rotate the refresh token and issue a new access token
      description: |
        The presented refresh token is invalidated on use. If an already-used
        refresh token is presented, the entire token family is revoked — this
        is the standard reuse-detection response to a stolen token.
      operationId: refreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        '200':
          description: New token pair
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /auth/logout:
    post:
      tags: [auth]
      summary: Revoke the current session
      operationId: logout
      responses:
        '204':
          description: Session revoked
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /audit/ledger:
    get:
      tags: [audit]
      summary: List supported identity, consent and emergency audit events
      description: Platform administrator only. Sensitive operational fields and hashes are never returned.
      operationId: listAuditLedgerEvents
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [consent, verification, break_glass]
        - name: cursor
          in: query
          schema: { type: string, pattern: '^[1-9][0-9]*$' }
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Safe page of supported events
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminAuditLedgerPage' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /audit/verify:
    post:
      tags: [audit]
      summary: Verify the complete internal audit hash chain
      description: Platform administrator only. Returns status and counts without event metadata or hashes.
      operationId: verifyAuditLedger
      responses:
        '200':
          description: Complete chain verification result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuditLedgerVerification' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /users/me:
    get:
      tags: [users]
      summary: Get the authenticated user's profile
      operationId: getMe
      responses:
        '200':
          description: Profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401': { $ref: '#/components/responses/Unauthenticated' }
    patch:
      tags: [users]
      summary: Update own profile
      description: |
        Non-clinical fields only. Clinical history is never edited through this
        endpoint — it is written by clinicians through consultation notes.
      operationId: updateMe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [base_version]
              properties:
                base_version:
                  type: integer
                full_name:
                  type: string
                  maxLength: 150
                preferred_language:
                  $ref: '#/components/schemas/LanguageCode'
                default_location:
                  $ref: '#/components/schemas/GeoPoint'
                region_code:
                  type: string
                  maxLength: 20
      responses:
        '200':
          description: Updated profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /users/me/dependents:
    get:
      tags: [users]
      summary: List dependant profiles under this guardian
      operationId: listDependents
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Dependants
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PatientProfile'
                  meta:
                    $ref: '#/components/schemas/PageMeta'
    post:
      tags: [users]
      summary: Add a dependant under this guardian
      description: |
        A dependant profile has no login of its own. Consultations raised for a
        dependant are always attributed to the guardian's authenticated session
        plus the dependant's `patient_profile_id`.
      operationId: createDependent
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [full_name, date_of_birth, sex]
              properties:
                full_name:
                  type: string
                  maxLength: 150
                date_of_birth:
                  type: string
                  format: date
                sex:
                  $ref: '#/components/schemas/Sex'
                chronic_conditions:
                  type: array
                  items: { type: string }
                allergies:
                  type: array
                  items: { type: string }
      responses:
        '201':
          description: Dependant created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientProfile'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /clinicians/me:
    get:
      tags: [clinicians]
      summary: Get the authenticated clinician's own profile
      description: Clinician only. Resolves the profile from the authenticated token; it does not accept a caller-supplied clinician ID.
      operationId: getMyClinicianProfile
      responses:
        '200':
          description: Own clinician profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClinicianProfile' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /clinicians:
    get:
      tags: [clinicians]
      summary: Clinician directory or Admin verification list
      description: |
        Authenticated non-admin callers receive active, verified clinician
        directory entries. A platform_admin may filter pending and other
        verification states; only that role receives license and verification
        details needed for the existing Admin workflow. Cursor paginated.
      operationId: listClinicians
      parameters:
        - name: verification_status
          in: query
          schema: { $ref: '#/components/schemas/VerificationStatus' }
        - name: specialty
          in: query
          schema: { $ref: '#/components/schemas/Specialty' }
        - name: is_available
          in: query
          schema: { type: boolean }
        - name: facility_id
          in: query
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Clinicians
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ClinicianDirectoryEntry' }
                  meta: { $ref: '#/components/schemas/CursorMeta' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /clinicians/{clinician_id}:
    get:
      tags: [clinicians]
      summary: Get one clinician profile
      description: |
        Readable by an admin, or by the clinician themselves. Anyone else gets
        403 rather than 404, because the id is not a secret — what is protected
        is the record, not its existence.
      operationId: getClinician
      parameters:
        - $ref: '#/components/parameters/ClinicianId'
      responses:
        '200':
          description: Clinician profile
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClinicianProfile' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /clinicians/{clinician_id}/verification:
    post:
      tags: [clinicians]
      summary: Approve or reject a clinician's licence verification
      description: |
        Admin only. Approval is what makes a clinician eligible for routing and
        for signing consultation notes. Rejection requires a reason, which is
        returned to the clinician.
      operationId: decideClinicianVerification
      parameters:
        - $ref: '#/components/parameters/ClinicianId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision:
                  type: string
                  enum: [approve, reject]
                reason:
                  type: string
                  description: Required when decision is `reject`.
      responses:
        '200':
          description: Verification recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicianProfile'
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

  /clinicians/me/availability:
    put:
      tags: [clinicians]
      summary: Set own on-duty availability
      description: |
        Going off duty does not drop consultations already assigned — those must
        be completed or explicitly reassigned. It only removes the clinician
        from the routing candidate pool.
      operationId: setAvailability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [is_available]
              properties:
                is_available: { type: boolean }
                until:
                  type: string
                  format: date-time
                  description: Optional auto-expiry for the availability state.
      responses:
        '200':
          description: Availability updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicianProfile'
        '403': { $ref: '#/components/responses/Forbidden' }

  # ----------------------------------------------------------------------
  # Phase 1 — Care threads and consultations
  # ----------------------------------------------------------------------

  /care-threads:
    get:
      tags: [care-threads]
      summary: List care threads visible to the caller
      description: |
        A patient sees their own threads and those of their dependants. A
        clinician sees threads where they are the primary clinician or have an
        assigned consultation. Admins require a logged access reason.
      operationId: listCareThreads
      parameters:
        - name: patient_id
          in: query
          schema: { type: string, format: uuid }
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/CareThreadStatus'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Care threads
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CareThread'
                  meta:
                    $ref: '#/components/schemas/CursorMeta'
        '403': { $ref: '#/components/responses/Forbidden' }

  /care-threads/{care_thread_id}:
    get:
      tags: [care-threads]
      summary: Get one care thread with its full timeline
      description: |
        Returns the thread plus an ordered timeline of every consultation,
        note, prescription and check-in attached to it. This is the view a
        clinician opens when a patient reappears months later.
      operationId: getCareThread
      parameters:
        - $ref: '#/components/parameters/CareThreadId'
      responses:
        '200':
          description: Care thread with timeline
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareThreadDetail'
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /care-threads/{care_thread_id}/close:
    post:
      tags: [care-threads]
      summary: Close a care thread
      description: |
        Clinician only, and only when no consultation on the thread is still
        open. Closing is reversible only by opening a new consultation, which
        reopens the thread automatically.
      operationId: closeCareThread
      parameters:
        - $ref: '#/components/parameters/CareThreadId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [outcome]
              properties:
                outcome:
                  type: string
                  enum: [recovered, referred_out, lost_to_follow_up, deceased]
                notes: { type: string }
      responses:
        '200':
          description: Thread closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareThread'
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /care-threads/{care_thread_id}/messages:
    get:
      tags: [messages]
      summary: List messages on a care thread
      description: |
        Cursor paginated, oldest first. Filter by `consultation_id` to show only
        the exchange that happened during one consultation; omit it to show the
        whole conversation including messages sent between consultations.
      operationId: listMessages
      parameters:
        - $ref: '#/components/parameters/CareThreadId'
        - name: consultation_id
          in: query
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Messages
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
                  meta:
                    $ref: '#/components/schemas/CursorMeta'
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [messages]
      summary: Post a message to the care thread
      description: |
        Text, or a reference to an uploaded voice note or image. The server
        attaches `consultation_id` automatically when a consultation is open.

        Delivery goes over the realtime channel to app users and is fanned out
        over SMS by the notification service for feature-phone users — the
        sender does not choose the transport.

        Permitted while the thread is open, whether or not a consultation is in
        progress. Once the thread is closed, returns 409 `CARE_THREAD_CLOSED`;
        the patient must raise a new consultation.
      operationId: createMessage
      parameters:
        - $ref: '#/components/parameters/CareThreadId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                  maxLength: 4000
                attachment_key: { type: string }
                attachment_type:
                  type: string
                  enum: [voice_note, image, document]
                client_created_at:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Message posted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /clinicians/{clinician_id}/slots:
    get:
      tags: [appointments]
      summary: List a clinician's bookable slots
      description: |
        Returns published, unbooked slots within the requested window. Slots are
        the clinician's own availability, not a hospital's room schedule — no
        facility integration is required to use this.
      operationId: listClinicianSlots
      parameters:
        - $ref: '#/components/parameters/ClinicianId'
        - name: from
          in: query
          required: true
          schema: { type: string, format: date }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date }
      responses:
        '200':
          description: Available slots
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Slot'
        '404': { $ref: '#/components/responses/NotFound' }

  /clinicians/me/slots:
    put:
      tags: [appointments]
      summary: Publish own bookable slots for a period
      description: |
        Replaces the clinician's published slots inside the given window.
        Already-booked slots are preserved and returned in `retained`; removing
        one requires cancelling its appointment first.
      operationId: publishSlots
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [from, to, slots]
              properties:
                from: { type: string, format: date }
                to: { type: string, format: date }
                slots:
                  type: array
                  items:
                    type: object
                    required: [starts_at, duration_minutes]
                    properties:
                      starts_at: { type: string, format: date-time }
                      duration_minutes: { type: integer, minimum: 5, maximum: 120 }
                      modality:
                        $ref: '#/components/schemas/ConsultationModality'
      responses:
        '200':
          description: Slots published
          content:
            application/json:
              schema:
                type: object
                properties:
                  published:
                    type: array
                    items:
                      $ref: '#/components/schemas/Slot'
                  retained:
                    type: array
                    items:
                      $ref: '#/components/schemas/Slot'
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /appointments:
    post:
      tags: [appointments]
      summary: Book a slot
      description: |
        Books a published slot for the patient. Slot contention is resolved by
        first write wins; losers get 409 `SLOT_UNAVAILABLE` and should refresh
        the slot list rather than retrying blindly.

        Booking does not create a consultation. The consultation opens at
        `POST /appointments/{id}/start`.
      operationId: createAppointment
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slot_id]
              properties:
                slot_id: { type: string, format: uuid }
                care_thread_id:
                  type: string
                  format: uuid
                  description: Attach to an existing problem, or omit to open a new thread at start.
                patient_profile_id:
                  type: string
                  format: uuid
                  description: Required when booking for a dependant.
                reason:
                  type: string
                  maxLength: 1000
      responses:
        '201':
          description: Appointment booked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
    get:
      tags: [appointments]
      summary: List appointments visible to the caller
      operationId: listAppointments
      parameters:
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/AppointmentStatus'
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Appointments
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Appointment'
                  meta:
                    $ref: '#/components/schemas/CursorMeta'

  /appointments/{appointment_id}:
    get:
      tags: [appointments]
      summary: Get one appointment
      operationId: getAppointment
      parameters:
        - $ref: '#/components/parameters/AppointmentId'
      responses:
        '200':
          description: Appointment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '404': { $ref: '#/components/responses/NotFound' }

  /appointments/{appointment_id}/start:
    post:
      tags: [appointments]
      summary: Open the consultation for a booked appointment
      description: |
        Creates a `ConsultationRequest` already in `matched` state with the
        booked clinician assigned — it never enters the routing pool. Callable
        by either party from 15 minutes before `starts_at`.

        If the thread did not exist, it is opened here.
      operationId: startAppointment
      parameters:
        - $ref: '#/components/parameters/AppointmentId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '201':
          description: Consultation opened
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultationRequest'
        '409': { $ref: '#/components/responses/Conflict' }

  /appointments/{appointment_id}/cancel:
    post:
      tags: [appointments]
      summary: Cancel an appointment and release the slot
      operationId: cancelAppointment
      parameters:
        - $ref: '#/components/parameters/AppointmentId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string, maxLength: 500 }
      responses:
        '200':
          description: Cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '409': { $ref: '#/components/responses/Conflict' }

  /consultations:
    post:
      tags: [consultations]
      summary: Create a consultation request
      description: |
        The server computes `urgency_level` from the triage rules engine, sets
        `sla_deadline_at` from that level, and either attaches the request to
        the supplied `care_thread_id` or opens a new thread.

        Routing happens asynchronously. The response returns the request in
        `pending` state; assignment arrives over the realtime channel as
        `consultation.assigned`.

        `Idempotency-Key` is mandatory. Offline clients generate it at the
        moment the patient taps submit, not at the moment the network returns.
      operationId: createConsultation
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [channel]
              properties:
                care_thread_id:
                  type: string
                  format: uuid
                  description: Omit to open a new thread; supply to continue an existing problem.
                patient_profile_id:
                  type: string
                  format: uuid
                  description: Required when raising on behalf of a dependant.
                clinician_id:
                  type: string
                  format: uuid
                  description: Optional verified clinician to target using the existing consultation matching rules.
                channel:
                  $ref: '#/components/schemas/Channel'
                symptom_text:
                  type: string
                  maxLength: 4000
                structured_symptoms:
                  type: array
                  description: Coded symptom entries consumed by the triage engine.
                  items:
                    $ref: '#/components/schemas/StructuredSymptom'
                voice_note_key:
                  type: string
                  description: Object-storage key for an uploaded voice note.
                location:
                  $ref: '#/components/schemas/GeoPoint'
                client_created_at:
                  type: string
                  format: date-time
                  description: When the patient actually submitted, which may precede arrival by hours offline.
      responses:
        '201':
          description: Consultation request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultationRequest'
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '429': { $ref: '#/components/responses/RateLimited' }
    get:
      tags: [consultations]
      summary: List consultations visible to the caller
      operationId: listConsultations
      parameters:
        - name: care_thread_id
          in: query
          schema: { type: string, format: uuid }
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/ConsultationStatus'
        - name: assigned_to_me
          in: query
          schema: { type: boolean }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Consultations
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConsultationRequest'
                  meta:
                    $ref: '#/components/schemas/CursorMeta'

  /consultations/{consultation_id}:
    get:
      tags: [consultations]
      summary: Get one consultation
      operationId: getConsultation
      parameters:
        - $ref: '#/components/parameters/ConsultationId'
      responses:
        '200':
          description: Consultation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultationRequest'
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /consultations/{consultation_id}/accept:
    post:
      tags: [consultations]
      summary: Accept a consultation from the queue
      description: |
        Legal source states: `pending`, `escalated`. Acceptance is a race — when
        a request has been broadcast to several candidates, the first accept
        wins and the rest receive 409 `CONSULTATION_ALREADY_ASSIGNED`. Clients
        must handle that as a normal outcome, not an error to surface loudly.

        Rejected if the caller is not verified.
      operationId: acceptConsultation
      parameters:
        - $ref: '#/components/parameters/ConsultationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Accepted and assigned to the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultationRequest'
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /consultations/{consultation_id}/decline:
    post:
      tags: [consultations]
      summary: Decline a consultation and return it to the routing pool
      description: |
        Declining does not stop the SLA clock. The routing engine immediately
        re-ranks and pushes to the next candidate.
      operationId: declineConsultation
      parameters:
        - $ref: '#/components/parameters/ConsultationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  enum: [out_of_specialty, language_mismatch, at_capacity, other]
                note: { type: string }
      responses:
        '200':
          description: Declined and returned to pool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultationRequest'
        '409': { $ref: '#/components/responses/Conflict' }

  /consultations/{consultation_id}/complete:
    post:
      tags: [consultations]
      summary: Close a consultation with a signed clinical note
      description: |
        The composite write of the system. In one atomic, idempotent call the
        clinician submits the note, an optional prescription, and an optional
        follow-up cycle. Doing this as one call rather than three is deliberate:
        over an unreliable network, three sequential writes can leave a
        consultation closed with no follow-up attached.

        The server validates that the caller is verified and is the assigned
        clinician, then stamps `signed_by_clinician_id` and `signed_at`
        server-side. Client-supplied signature fields are ignored.
      operationId: completeConsultation
      parameters:
        - $ref: '#/components/parameters/ConsultationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [note]
              properties:
                note:
                  $ref: '#/components/schemas/ConsultationNoteInput'
                prescription:
                  $ref: '#/components/schemas/PrescriptionInput'
                follow_up_cycle:
                  $ref: '#/components/schemas/FollowUpCycleInput'
                close_care_thread:
                  type: boolean
                  default: false
                  description: Set when the problem is resolved and no follow-up is warranted.
      responses:
        '200':
          description: Consultation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultationCompletionResult'
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /consultations/{consultation_id}/refer:
    post:
      tags: [consultations]
      summary: Refer to a specialist for a second opinion
      description: |
        Creates a linked consultation on the same care thread, assigned to the
        specialist pool or to a named clinician. The original consultation
        stays open until the referring clinician completes it.
      operationId: referConsultation
      parameters:
        - $ref: '#/components/parameters/ConsultationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [specialty, reason]
              properties:
                specialty:
                  $ref: '#/components/schemas/Specialty'
                to_clinician_id:
                  type: string
                  format: uuid
                reason:
                  type: string
                  maxLength: 2000
      responses:
        '201':
          description: Referral consultation created on the same thread
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultationRequest'
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /triage-rulesets:
    get:
      tags: [system]
      summary: List triage rulesets
      description: |
        Every version ever published, newest first. Platform admin only.

        Rulesets are immutable once created, including drafts: editing means
        creating a new version. `ConsultationRequest.triage_rule_version` points
        at one of these, so a decision made months ago must still resolve to the
        rules that actually made it.
      operationId: listTriageRulesets
      responses:
        '200':
          description: Rulesets
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/TriageRuleset' }
        '403': { $ref: '#/components/responses/Forbidden' }

    post:
      tags: [system]
      summary: Create a draft ruleset
      description: |
        Optionally cloned from an existing version. Structural validation runs
        here; the safety checks run at activation.
      operationId: createTriageRuleset
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [label]
              properties:
                label:
                  type: string
                  maxLength: 40
                  description: Stamped onto every consultation this ruleset judges.
                clone_from:
                  type: string
                  description: Label of an existing version to copy as a starting point.
                rules: { type: object, additionalProperties: true }
                sla_seconds: { type: object, additionalProperties: true }
                notes: { type: string }
      responses:
        '201':
          description: Draft created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TriageRuleset' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /triage-rulesets/{label}:
    get:
      tags: [system]
      summary: Get one ruleset
      operationId: getTriageRuleset
      parameters:
        - name: label
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Ruleset
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TriageRuleset' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /triage-rulesets/{label}/preview:
    post:
      tags: [system]
      summary: Dry-run a ruleset
      description: |
        Runs the safety checks and, optionally, one sample presentation, without
        changing anything. Intended to be used before activation rather than
        after a patient has been triaged by a rule nobody tested.
      operationId: previewTriageRuleset
      parameters:
        - name: label
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sample:
                  type: object
                  description: A triage input to run through this ruleset.
                  additionalProperties: true
      responses:
        '200':
          description: Preview
          content:
            application/json:
              schema:
                type: object
                required: [label, safety_checks, all_passed]
                properties:
                  label: { type: string }
                  all_passed: { type: boolean }
                  safety_checks:
                    type: array
                    items:
                      type: object
                      properties:
                        name: { type: string }
                        expected: { type: string }
                        got: { type: string }
                        passed: { type: boolean }
                  sample_result:
                    type: [object, 'null']
                    additionalProperties: true
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /triage-rulesets/{label}/activate:
    post:
      tags: [system]
      summary: Activate a ruleset
      description: |
        Retires whatever was active and makes this one live. Refused if any
        safety check fails.

        A hardcoded floor guarantees a small set of presentations — stroke
        signs, chest pain, severe bleeding, unconsciousness, suicidal ideation
        and a few others — are always emergencies whatever a ruleset says. That
        floor is not configurable, and activation is refused rather than quietly
        relying on it, so the administrator finds out now rather than from a
        patient outcome.

        Propagation to other service instances takes up to 30 seconds.
      operationId: activateTriageRuleset
      parameters:
        - name: label
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [notes]
              properties:
                notes:
                  type: string
                  minLength: 1
                  description: Why this change is being made. Required — a rule change nobody explained is one nobody can review.
      responses:
        '200':
          description: Activated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TriageRuleset' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /queue:
    get:
      tags: [queue]
      summary: The clinician's live queue
      description: |
        Cursor paginated, never page paginated — the queue mutates while it is
        being read, and offset pagination would skip or duplicate cases.

        Ordering is by urgency, then SLA deadline ascending. Clients should
        treat this as a backfill for the realtime stream, not as a polling
        loop: poll no more than once every 30 seconds.
      operationId: getQueue
      parameters:
        - name: scope
          in: query
          description: |
            `offered` — cases pushed to this clinician and awaiting accept.
            `mine` — cases already accepted and in progress.
          schema:
            type: string
            enum: [offered, mine]
            default: offered
        - name: urgency_level
          in: query
          schema:
            $ref: '#/components/schemas/UrgencyLevel'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Queue entries
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/QueueEntry'
                  meta:
                    $ref: '#/components/schemas/CursorMeta'
        '403': { $ref: '#/components/responses/Forbidden' }

  /consultations/{consultation_id}/queue-status:
    get:
      tags: [queue]
      summary: The patient's own view of where they stand
      description: |
        The counterpart to the clinician queue. A patient waiting is entitled to
        know how long — an unexplained wait is the experience the platform
        exists to remove.

        `estimated_wait_minutes` is a forecast, not a promise, and the client
        must present it as such. It is null when no reliable estimate exists,
        which is honest and better than a fabricated number.
      operationId: getQueueStatus
      parameters:
        - $ref: '#/components/parameters/ConsultationId'
      responses:
        '200':
          description: Queue status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueueStatus'
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /consultations/{consultation_id}/note:
    get:
      tags: [consultations]
      summary: Retrieve the signed clinical note
      description: |
        Readable by the patient, the signing clinician, any clinician with an
        open consultation on the same thread, and admins with a logged reason.
        Every read is written to the audit log.
      operationId: getConsultationNote
      parameters:
        - $ref: '#/components/parameters/ConsultationId'
      responses:
        '200':
          description: Consultation note
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultationNote'
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ----------------------------------------------------------------------
  # Phase 3 — Follow-up and adherence
  # ----------------------------------------------------------------------

  /follow-up-cycles/{follow_up_cycle_id}:
    get:
      tags: [follow-up]
      summary: Get a follow-up cycle
      operationId: getFollowUpCycle
      parameters:
        - $ref: '#/components/parameters/FollowUpCycleId'
      responses:
        '200':
          description: Follow-up cycle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowUpCycle'
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /follow-up-cycles/{follow_up_cycle_id}/check-ins:
    get:
      tags: [follow-up]
      summary: List check-ins on a cycle
      description: |
        Includes future scheduled check-ins as well as answered ones, so the
        patient app can show what is coming and cache it for offline use.
      operationId: listCheckIns
      parameters:
        - $ref: '#/components/parameters/FollowUpCycleId'
        - name: status
          in: query
          schema:
            type: string
            enum: [scheduled, responded, missed]
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Check-ins
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CheckIn'
                  meta:
                    $ref: '#/components/schemas/CursorMeta'

  /check-ins:
    get:
      tags: [follow-up]
      summary: List the caller's own check-ins
      description: |
        Answering a check-in was already described, but there was no way to
        find the ones waiting — a patient could only respond if something else
        handed them an id. Scoped like `/adherence-logs`: a patient or guardian
        sees their own, a clinician sees the cycles they own.
      operationId: listMyCheckIns
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [scheduled, responded, missed]
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Check-ins
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/CheckIn' }
                  meta: { $ref: '#/components/schemas/CursorMeta' }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /check-ins/{check_in_id}/respond:
    post:
      tags: [follow-up]
      summary: Submit answers to a scheduled check-in
      description: |
        The server evaluates the answers against the cycle's `recovery_criteria`
        and sets `is_deviation` itself — the client never computes or sends it.
        A deviation raises a high-priority review task for the assigned
        clinician and pushes `checkin.deviation` over the realtime channel.

        Offline capable: answers are queued locally and replayed through
        `POST /sync/batch`.
      operationId: respondToCheckIn
      parameters:
        - $ref: '#/components/parameters/CheckInId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [responses]
              properties:
                responses:
                  type: object
                  description: Answers keyed by question id, plus any reported vitals.
                  additionalProperties: true
                channel:
                  $ref: '#/components/schemas/Channel'
                client_created_at: { type: string, format: date-time }
      responses:
        '200':
          description: Check-in recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckIn'
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /follow-up-cycles/{follow_up_cycle_id}/close:
    post:
      tags: [follow-up]
      summary: Close a follow-up cycle
      description: |
        Clinician only. Cycles also close automatically when recovery criteria
        are met; this endpoint is the manual override.
      operationId: closeFollowUpCycle
      parameters:
        - $ref: '#/components/parameters/FollowUpCycleId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [outcome]
              properties:
                outcome:
                  type: string
                  enum: [recovered, escalated, lost_to_follow_up]
                notes: { type: string }
      responses:
        '200':
          description: Cycle closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowUpCycle'
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  /prescriptions/{prescription_id}:
    get:
      tags: [medications]
      summary: Get a prescription with its items
      operationId: getPrescription
      parameters:
        - $ref: '#/components/parameters/PrescriptionId'
      responses:
        '200':
          description: Prescription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prescription'
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /patient-profiles/{patient_profile_id}/prescriptions:
    get:
      tags: [medications]
      summary: List a patient's prescriptions
      operationId: listPatientPrescriptions
      parameters:
        - $ref: '#/components/parameters/PatientProfileId'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, completed, discontinued]
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Prescriptions
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Prescription'
                  meta:
                    $ref: '#/components/schemas/CursorMeta'
        '403': { $ref: '#/components/responses/Forbidden' }

  /patient-profiles/{patient_profile_id}/audit-history:
    get:
      tags: [audit]
      summary: Read the caller's own consent and emergency access history
      description: Patient role only. The caller must own or be the guardian of this profile. Hashes, actors, request IDs, reasons and arbitrary metadata are omitted.
      operationId: listOwnConsentAuditHistory
      parameters:
        - $ref: '#/components/parameters/PatientProfileId'
      responses:
        '200':
          description: Patient-safe history
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PatientAuditHistory' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /adherence-logs:
    get:
      tags: [medications]
      summary: The patient's dose schedule
      description: |
        Every dose the system expects, past and upcoming, generated from the
        prescription's frequency and duration at the moment it was created.

        The client caches the coming window so the reminder still fires with no
        connectivity, and queues confirmations for replay.
      operationId: listAdherenceLogs
      parameters:
        - name: patient_profile_id
          in: query
          schema: { type: string, format: uuid }
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - name: reported_status
          in: query
          schema:
            $ref: '#/components/schemas/AdherenceStatus'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Dose schedule
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdherenceLog'
                  meta:
                    $ref: '#/components/schemas/CursorMeta'

  /adherence-logs/{adherence_log_id}/confirm:
    post:
      tags: [medications]
      summary: Report whether a scheduled dose was taken
      description: |
        Reachable from an app notification, an SMS reply, or a USSD menu — the
        gateway translates all three into this same call.

        Repeated missed doses on the same prescription raise a task for the
        assigned clinician. That escalation is the whole point of the feature:
        recording non-adherence without acting on it changes nothing.
      operationId: confirmAdherence
      parameters:
        - $ref: '#/components/parameters/AdherenceLogId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reported_status]
              properties:
                reported_status:
                  $ref: '#/components/schemas/AdherenceStatus'
                channel:
                  $ref: '#/components/schemas/Channel'
                note:
                  type: string
                  maxLength: 500
                  description: Optional patient comment, e.g. why a dose was skipped.
                client_created_at: { type: string, format: date-time }
      responses:
        '200':
          description: Dose recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdherenceLog'
        '409': { $ref: '#/components/responses/Conflict' }

  # ----------------------------------------------------------------------
  # Phase 2 — Channel gateway (internal, aggregator-facing)
  # ----------------------------------------------------------------------

  /gateway/ussd/session:
    post:
      tags: [gateway]
      summary: Handle one USSD menu interaction
      description: |
        Called by the telecom aggregator on every key press. The bridge holds
        session state in Redis keyed by `session_id` and translates the
        selection into an ordinary internal API call — the same
        `POST /consultations` the app uses. There is exactly one implementation
        of the business rules, and the channel never forks it.

        Not part of the public API. Authenticated by shared secret and source-IP
        allow-list, not by JWT. Responses must fit the aggregator's session
        timeout and character limit.
      operationId: handleUssdSession
      security:
        - gatewaySignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id, phone_number, text]
              properties:
                session_id: { type: string }
                phone_number:
                  $ref: '#/components/schemas/PhoneNumber'
                service_code: { type: string }
                text:
                  type: string
                  description: Accumulated input so far, aggregator convention.
      responses:
        '200':
          description: Menu or terminal response
          content:
            application/json:
              schema:
                type: object
                required: [response, terminate]
                properties:
                  response:
                    type: string
                    maxLength: 182
                  terminate:
                    type: boolean
                    description: True ends the USSD session.

  /gateway/sms/inbound:
    post:
      tags: [gateway]
      summary: Handle an inbound SMS keyword
      description: |
        Maps keywords to internal calls — for example a dose confirmation reply
        becomes `POST /adherence-logs/{id}/confirm`. Unrecognised text is routed
        to the patient's open care thread as a message rather than discarded.
      operationId: handleInboundSms
      security:
        - gatewaySignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [from, text, received_at]
              properties:
                from:
                  $ref: '#/components/schemas/PhoneNumber'
                to: { type: string }
                text: { type: string }
                received_at: { type: string, format: date-time }
                aggregator_message_id: { type: string }
      responses:
        '202':
          description: Accepted for processing
        '401': { $ref: '#/components/responses/Unauthenticated' }

  # ----------------------------------------------------------------------
  # Facilities — the hospital-facing surface
  # ----------------------------------------------------------------------

  /facilities:
    get:
      tags: [facilities]
      summary: List facilities
      description: |
        The directory a patient browses when choosing where to go. Filterable
        by type and region; ordered by distance when a location is supplied.
      operationId: listFacilities
      parameters:
        - name: type
          in: query
          schema: { $ref: '#/components/schemas/FacilityType' }
        - name: region_code
          in: query
          schema: { type: string }
        - name: lat
          in: query
          schema: { type: number }
        - name: lng
          in: query
          schema: { type: number }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Facilities
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Facility' }
                  meta: { $ref: '#/components/schemas/CursorMeta' }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /facilities/{facility_id}:
    get:
      tags: [facilities]
      summary: Get one facility
      operationId: getFacility
      parameters:
        - $ref: '#/components/parameters/FacilityId'
      responses:
        '200':
          description: Facility
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Facility' }
        '404': { $ref: '#/components/responses/NotFound' }

  /facilities/{facility_id}/departments:
    get:
      tags: [facilities]
      summary: List a facility's departments
      operationId: listDepartments
      parameters:
        - $ref: '#/components/parameters/FacilityId'
      responses:
        '200':
          description: Departments
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Department' }
        '404': { $ref: '#/components/responses/NotFound' }

  /facilities/{facility_id}/queue:
    get:
      tags: [facilities]
      summary: Live queue and provider availability at a facility
      description: |
        The congestion feature. A patient standing in a crowded outpatient hall
        opens this and sees which clinicians are on duty, how many people are
        ahead of each, and the estimated wait — then books rather than guesses.

        Requires the facility to be integrated. Facilities that are not report
        `integration_level: none` and an empty provider list rather than a
        fabricated estimate.
      operationId: getFacilityQueue
      parameters:
        - $ref: '#/components/parameters/FacilityId'
        - name: department_id
          in: query
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Live queue
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FacilityQueue' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ----------------------------------------------------------------------
  # AI — assistant and decision support. Advisory, never determinative.
  # ----------------------------------------------------------------------

  /ai/conversations:
    post:
      tags: [ai]
      summary: Open an assistant conversation
      description: |
        Opens an authenticated conversation. The default local provider is a
        deterministic navigation and emergency-keyword stub, not a clinical
        knowledge-base search. This endpoint does not fetch patient profile,
        care-thread, or family-member records. Optional identifiers are stored
        as conversation metadata only.
      operationId: createAiConversation
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [audience]
              properties:
                audience:
                  $ref: '#/components/schemas/AiAudience'
                care_thread_id: { type: string, format: uuid }
                patient_profile_id: { type: string, format: uuid }
                language: { $ref: '#/components/schemas/LanguageCode' }
                channel: { $ref: '#/components/schemas/Channel' }
      responses:
        '201':
          description: Conversation opened
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AiConversation' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /ai/conversations/{conversation_id}:
    get:
      tags: [ai]
      summary: Get a conversation with its messages
      operationId: getAiConversation
      parameters:
        - $ref: '#/components/parameters/ConversationId'
      responses:
        '200':
          description: Conversation
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AiConversationDetail' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /ai/conversations/{conversation_id}/messages:
    post:
      tags: [ai]
      summary: Send a message to the configured assistant provider
      description: |
        The response may include one structured navigation suggestion from the
        configured provider and `escalated` when the local stub recognizes a
        configured red-flag phrase. Navigation suggestions are untrusted
        metadata: clients must use a strict application allowlist and must
        never interpret message text as a route or command. Emergency
        navigation requires a separate patient action and never dispatches SOS.
      operationId: createAiMessage
      parameters:
        - $ref: '#/components/parameters/ConversationId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string, maxLength: 4000 }
                voice_note_key: { type: string }
      responses:
        '201':
          description: Assistant reply
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AiReply' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /ai/triage:
    post:
      tags: [ai]
      summary: Suggest an urgency level from reported symptoms
      description: |
        Advisory input to triage, not a replacement for it. The consultation
        service records both the deterministic rules-engine result and this
        suggestion; where they disagree the more urgent wins, and the
        disagreement is logged for clinical review.

        Never returns a diagnosis.
      operationId: aiTriage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                symptom_text: { type: string, maxLength: 4000 }
                structured_symptoms:
                  type: array
                  items: { $ref: '#/components/schemas/StructuredSymptom' }
                patient_profile_id: { type: string, format: uuid }
      responses:
        '200':
          description: Suggestion
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TriageSuggestion' }

  /ai/drug-interactions:
    post:
      tags: [ai]
      summary: Check a set of medications for interactions
      description: |
        Clinician-facing. Returns findings with severity and the source of each
        one; the prescribing decision remains the clinician's.
      operationId: checkDrugInteractions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [medications]
              properties:
                medications:
                  type: array
                  minItems: 1
                  items: { type: string }
                patient_profile_id: { type: string, format: uuid }
      responses:
        '200':
          description: Findings
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DrugInteractionReport' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /ai/transcribe:
    post:
      tags: [ai]
      summary: Transcribe a voice note
      description: |
        Speech to text for patients who would rather speak than type, and for
        clinicians dictating notes. Returns a confidence score; low-confidence
        Swahili output must be shown for correction rather than filed silently.
      operationId: aiTranscribe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [audio_key]
              properties:
                audio_key: { type: string }
                language: { $ref: '#/components/schemas/LanguageCode' }
      responses:
        '200':
          description: Transcript
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Transcript' }

  /ai/synthesize:
    post:
      tags: [ai]
      summary: Render text as speech
      description: |
        For low-literacy users and voice-channel delivery. Returns an object
        key the client fetches, not audio bytes inline.
      operationId: aiSynthesize
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, maxLength: 2000 }
                language: { $ref: '#/components/schemas/LanguageCode' }
      responses:
        '200':
          description: Audio reference
          content:
            application/json:
              schema:
                type: object
                properties:
                  audio_key: { type: string }
                  duration_seconds: { type: number }

  /ai/models:
    get:
      tags: [ai]
      summary: Registry of deployed models
      description: |
        Admin and clinical-governance view: which model serves which function,
        at which version, when it was last validated, and its current accuracy
        and bias monitoring status.

        A model with no recorded validation must be visible as such. This is
        the register the AI governance committee reviews.
      operationId: listAiModels
      responses:
        '200':
          description: Models
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AiModel' }
        '403': { $ref: '#/components/responses/Forbidden' }

  # ----------------------------------------------------------------------
  # Emergency and transport
  # ----------------------------------------------------------------------

  /emergency-requests:
    post:
      tags: [emergency]
      summary: Raise an emergency
      description: |
        Reachable from the app's single prominent emergency action, from USSD,
        from SMS, and from a device alert. `scale` distinguishes an individual
        emergency from a mass-casualty incident so the receiving facility can
        mobilise proportionately before the first patient arrives.

        Deliberately tolerant of missing information. Someone reporting a road
        crash may know nothing but where they are.
      operationId: createEmergencyRequest
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scale, location]
              properties:
                scale: { $ref: '#/components/schemas/EmergencyScale' }
                category: { $ref: '#/components/schemas/EmergencyCategory' }
                location: { $ref: '#/components/schemas/GeoPoint' }
                patient_profile_id: { type: string, format: uuid }
                estimated_casualties: { type: integer, minimum: 1 }
                description: { type: string, maxLength: 2000 }
                reporter_phone: { $ref: '#/components/schemas/PhoneNumber' }
                source: { $ref: '#/components/schemas/EmergencySource' }
                channel: { $ref: '#/components/schemas/Channel' }
      responses:
        '201':
          description: Emergency raised and routed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EmergencyRequest' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
    get:
      tags: [emergency]
      summary: List emergencies
      description: Dispatcher and facility view. Cursor paginated, most urgent first.
      operationId: listEmergencyRequests
      parameters:
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/EmergencyStatus' }
        - name: facility_id
          in: query
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Emergencies
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/EmergencyRequest' }
                  meta: { $ref: '#/components/schemas/CursorMeta' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /emergency-requests/{emergency_id}:
    get:
      tags: [emergency]
      summary: Get one emergency
      operationId: getEmergencyRequest
      parameters:
        - $ref: '#/components/parameters/EmergencyId'
      responses:
        '200':
          description: Emergency
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EmergencyRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  /emergency-requests/{emergency_id}/dispatch:
    post:
      tags: [emergency]
      summary: Assign transport and a receiving facility
      description: |
        Dispatcher action. Assigning transport also notifies the receiving
        facility's emergency department with whatever patient context consent
        allows — known conditions, allergies, current medications — so the team
        is prepared rather than meeting an anonymous arrival.
      operationId: dispatchEmergency
      parameters:
        - $ref: '#/components/parameters/EmergencyId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [transport_unit_id, destination_facility_id]
              properties:
                transport_unit_id: { type: string, format: uuid }
                destination_facility_id: { type: string, format: uuid }
                notes: { type: string }
      responses:
        '200':
          description: Dispatched
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EmergencyRequest' }
        '409': { $ref: '#/components/responses/Conflict' }

  /emergency-requests/{emergency_id}/status:
    post:
      tags: [emergency]
      summary: Advance the emergency through its lifecycle
      description: |
        Legal transitions only. An emergency cannot be closed without an
        outcome — a request that simply disappears is the failure mode this
        whole subsystem exists to prevent.
      operationId: setEmergencyStatus
      parameters:
        - $ref: '#/components/parameters/EmergencyId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { $ref: '#/components/schemas/EmergencyStatus' }
                outcome: { $ref: '#/components/schemas/EmergencyOutcome' }
                notes: { type: string }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EmergencyRequest' }
        '409': { $ref: '#/components/responses/Conflict' }

  /transport-units:
    get:
      tags: [emergency]
      summary: List transport units
      operationId: listTransportUnits
      parameters:
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/TransportStatus' }
        - name: near_lat
          in: query
          schema: { type: number }
        - name: near_lng
          in: query
          schema: { type: number }
      responses:
        '200':
          description: Units
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/TransportUnit' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /transport-units/{unit_id}/location:
    put:
      tags: [emergency]
      summary: Report a unit's position
      description: |
        High frequency, low value individually. Written to a hot store and
        summarised into the audit trail rather than appended row by row.
      operationId: updateTransportLocation
      parameters:
        - $ref: '#/components/parameters/UnitId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [location]
              properties:
                location: { $ref: '#/components/schemas/GeoPoint' }
                heading_degrees: { type: number }
                speed_kph: { type: number }
      responses:
        '204':
          description: Recorded
        '403': { $ref: '#/components/responses/Forbidden' }

  /transport-units/{unit_id}/status:
    post:
      tags: [emergency]
      summary: Set a unit's availability
      operationId: setTransportStatus
      parameters:
        - $ref: '#/components/parameters/UnitId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { $ref: '#/components/schemas/TransportStatus' }
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TransportUnit' }

  # ----------------------------------------------------------------------
  # Devices — wearables and vehicle sensors
  # ----------------------------------------------------------------------

  /devices:
    post:
      tags: [devices]
      summary: Register a device
      description: |
        Binds a wearable to a patient, or a sensor to a vehicle. The device
        credential is returned once and never again; losing it means
        re-registering, which is the correct trade for a credential that can
        raise an emergency.
      operationId: registerDevice
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_type, serial_number]
              properties:
                device_type: { $ref: '#/components/schemas/DeviceType' }
                serial_number: { type: string, maxLength: 100 }
                patient_profile_id: { type: string, format: uuid }
                vehicle_registration: { type: string, maxLength: 40 }
                label: { type: string, maxLength: 100 }
      responses:
        '201':
          description: Registered
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceRegistration' }
        '409': { $ref: '#/components/responses/Conflict' }
    get:
      tags: [devices]
      summary: List devices visible to the caller
      operationId: listDevices
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Devices
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Device' }
                  meta: { $ref: '#/components/schemas/CursorMeta' }

  /devices/{device_id}/telemetry:
    post:
      tags: [devices]
      summary: Ingest a batch of readings
      description: |
        Batched because a watch on a patchy network buffers for hours. Each
        reading carries its own timestamp from the device; arrival order means
        nothing.

        Authenticated by the device credential, not a user session.
      operationId: ingestTelemetry
      parameters:
        - $ref: '#/components/parameters/DeviceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [readings]
              properties:
                readings:
                  type: array
                  maxItems: 500
                  items: { $ref: '#/components/schemas/TelemetryReading' }
      responses:
        '202':
          description: Accepted
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /devices/{device_id}/alerts:
    post:
      tags: [devices]
      summary: Raise a device alert
      description: |
        A fall, a collision pattern, or a vital sign outside its bounds. Fans
        out simultaneously to the last treating clinician, the assigned family
        doctor, the nearest facility's emergency department, registered
        relatives, and the patient's own phone.

        Because the device is bound to a health record, responders receive
        context rather than an anonymous signal.
      operationId: raiseDeviceAlert
      parameters:
        - $ref: '#/components/parameters/DeviceId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [alert_type, detected_at]
              properties:
                alert_type: { $ref: '#/components/schemas/DeviceAlertType' }
                detected_at: { type: string, format: date-time }
                location: { $ref: '#/components/schemas/GeoPoint' }
                confidence: { type: number, minimum: 0, maximum: 1 }
                readings:
                  type: array
                  items: { $ref: '#/components/schemas/TelemetryReading' }
      responses:
        '201':
          description: Alert raised, emergency opened where warranted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceAlert' }

  /devices/{device_id}/revoke:
    post:
      tags: [devices]
      summary: Revoke a device
      operationId: revokeDevice
      parameters:
        - $ref: '#/components/parameters/DeviceId'
      responses:
        '204':
          description: Revoked
        '403': { $ref: '#/components/responses/Forbidden' }

  # ----------------------------------------------------------------------
  # Prevention — risk, screening, vaccination
  # ----------------------------------------------------------------------

  /patient-profiles/{patient_profile_id}/risk-scores:
    get:
      tags: [prevention]
      summary: A patient's current risk scores
      description: |
        Model output presented as a prompt for clinical attention, never as a
        finding. Every score carries the model and version that produced it and
        the features that drove it, because a score nobody can interrogate
        cannot be acted on responsibly.
      operationId: listRiskScores
      parameters:
        - $ref: '#/components/parameters/PatientProfileId'
      responses:
        '200':
          description: Risk scores
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/RiskScore' }
        '403': { $ref: '#/components/responses/Forbidden' }

[...]
